.page{
    margin-top: 10vh;
    margin-right: 10vh;
    z-index: 2;
   


}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;
 

}

.card {
    background-color: transparent !important;
    color: white !important;
    padding: 2%;
    margin: 3vh;
    border: white solid 2px;
    border-top-left-radius: 30px !important;
}


.body2 {
    color: white;
    
}

#design {
    margin-bottom: 3rem;
}

.totoSays {
    display: flex;
    align-items: center;
    color: #170430;
    font-size: 3rem;
    font-family: 'Lily Script One', cursive;
    margin-bottom: 1rem;
    
}

.oneHundred {
    width: 100%;
    border-bottom: #17043093 0.5px solid;
    display: flex;
    color: rgb(126, 18, 71);
    font-size: 1.8rem;
    font-family: 'Lily Script One', cursive;
    
    width: 90vw;
    justify-content: center;
}
