.card-container {
    width: 80vw;
    border-radius: 1rem;
    box-shadow: 2px 3px 2px 0px #c5a4c597;
    display: flex;
   flex-direction: row;
 
    background-color: rgb(251, 252, 253);
    height: fit-content;
    border-bottom: #999 1px solid;
    padding: 2rem;
    margin-bottom: 2rem;
}

.card-title {
    margin: 0;
}
.card-inside {
    display: flex;
    flex-direction: column;
    align-items: start;
    
  

    width: 50%;
}
.card-info {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    align-items: flex-start;
    color:rgb(20, 9, 47);
    text-align: left;
}

.card-desc {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.224);
    border-left:#999 solid 1px;
    padding-left:1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img {
    width: auto;
    height: 18rem;
    border-radius: 1rem;
    margin-top: 20px;
}



.card-btn {
    text-align: center;
    width: 100%;
    background-color:#170420;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

}


@media (min-width: 1025px) and (max-width: 1280px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */

    .card-container {
        width: auto;
        
       flex-direction: column !important;
       align-items: center;
     
        background-color: rgb(251, 252, 253);
        height: fit-content;
        border-bottom: #999 1px solid;
        padding: 1rem;
        margin: 1rem;
        margin-bottom: 2rem;
    }
    .card-img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        margin-top: 10px;
    }
    .card-desc, .card-inside  {
        width: auto;
        margin-top: 0.5rem;
    }
  }

  .oneHundred {
    flex-direction: column-reverse;
}

.aboutData {
    width: 320px !important;
}

.about {
    border: none;
    margin: 10px;
}

.hat {
    width: 500px;
}
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .card-container {
        width: auto;
        
       flex-direction: column !important;
       align-items: center;
     
        background-color: rgb(251, 252, 253);
        height: fit-content;
        border-bottom: #999 1px solid;
        padding: 1rem;
        margin-bottom: 2rem;
        margin: 1rem;
    }

    .card-img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        margin-top: 10px;
    }

    .card-desc, .card-inside  {
        width: auto;
        margin-top: 0.5rem;
    }

    .oneHundred {
        flex-direction: column-reverse;
    }

    .aboutData {
        width: 320px !important;
    }

    .about {
        border: none;
        margin: 10px;
    }
    
    .hat {
        width: 250px;
    }
  }