.card-container {
    width: 80vw;
    border-radius: 1rem;
    box-shadow: 2px 3px 5px 0px #92779297;
    display: flex;
   flex-direction: row;
 
    background-color: rgb(252, 252, 252);
    height: fit-content;
    border: #000000 2px solid;
    padding: 2rem;
    margin-bottom: 2rem;
}

.card-title {
  font-size: 2.1rem;
    margin: 0;
}
.card-inside {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
}
.card-info {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    align-items: flex-start;
    color:rgb(20, 9, 47);
    text-align: left;
}

.card-desc {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.224);
    border-left:#999 solid 1px;
    padding-left:2rem;
    padding-right: 1rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
}

.card-img {
    width: auto;
    height: 19rem;
    border-radius: 1rem;
    margin-top: 20px;
}



.card-btn {
    text-align: center;
    width: 100%;
    box-shadow: 4px 4px 2px 0px #92779297;
    max-width: 350px;
    background-color:#170420;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-btn:hover {
  box-shadow: none;
  transform: translateY(3px);
  transition: ease-in-out 300ms;
}

.cactus {
  background-image: url('../images/Oasis.png');
  background-repeat: repeat-y;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */

    .card-container {
        width: auto;
        
       flex-direction: column !important;
       align-items: center;
     
        background-color: rgb(251, 252, 253);
        height: fit-content;
        border: #000000 2px solid;
        padding: 1rem;
        margin: 1rem;
        margin-bottom: 2rem;
    }
    .card-img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        margin-top: 10px;
    }
    .card-desc, .card-inside  {
        width: auto;
        margin-top: 0.5rem;
    }
    .oneHundred {
      flex-direction: column-reverse;
  }

  .contactData {

    flex-direction: column;
  }



  .about {
    border: none;
    margin: 10px;
}

.hat {
    width: 250px;
}

.contactData {
  display: flex;
  align-items: start;
  flex-direction: column !important;
}


  }

  




  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .card-container {
        width: auto;
        
       flex-direction: column !important;
       align-items: center;
     
        background-color: rgb(251, 252, 253);
        height: fit-content;
        border-bottom: #161616 1px solid;
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
        margin: 1rem;
    }

    .card-img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        margin-top: 10px;
    }

    .card-desc, .card-inside  {
        width: auto;
        margin-top: 0.5rem;
    }

    .oneHundred {
        flex-direction: column-reverse;
    }



    .about {
        border: none;
        margin: 10px;
    }
    
    .hat {
        width: 250px;
    }

    .contactData {
      display: flex;
      align-items: start;
      flex-direction: column !important;
    }
  }