.App {
  margin: auto;
  text-align: center; 
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@font-face {
  font-family: "gallery_modernregular";
  src: url("../src/styles/gallerymodern-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



.App {
  padding-top: 40px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(178deg, #764580, #eef8f0, #f2daea, #2a64a674);
  background-size: 700% 800%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 33%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 47%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 47%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}

.Nav {
  position: fixed;
  text-decoration: none;
  list-style: none;
  display: none !important;
  width: 10vh;
  height: 33vh;
  transition: 0.5s ease;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  transform: rotate(90deg);
  margin-right: 1rem;
  
}

li {
  color: #170420;
  background: rgba(255, 255, 255, 0.858); 
  padding:2rem;
  border-radius: 20px;
  font-size: 1.8rem;
  height: 200px;
  font-family: 'Lily Script One', cursive;
  margin: 2rem;
  width: 100vw;
}


.workLi, .jillian {
  text-decoration: none;
  color: #170420;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: left !important;
  list-style:circle;
  margin-left: auto;
  margin-right: auto;


}

.btn {
  padding: 14px;
  border: #12084b solid 3px;
  border-radius: 10px;
  color: #e1dfea;
  background-color: rgb(6, 60, 80);
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #f5eff9;
  font-size: 1.4rem;
}

h1 {
  color: #170420;
  font-family: "Josefin Sans", sans-serif;
}
.work-data {
  z-index: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(6, 1, 17);
  font-size: 32px;
  letter-spacing: 2px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.wave {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: url(https://i.imgur.com/DLD3N2t.png);
  background-size: 100vw 20vh;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100vw;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -100vw;
  }
}


.about {
  border: 2px double white; 
  margin: 30px;
  border-radius: 20px;

}



.cardtext {
  font-family: "Josefin Sans", sans-serif;

  color: rgb(6, 60, 80);
}

.MuiCardMedia-img {
  height: 200px;
  width: auto;
}







